extends layout

block variables
    -var title = "Home"

block content
    h2.text-center HOME PAGE

    .row
        .offset-sm-2.col-sm-8
            .jumbotron.text-center.
                Welcome , please Sign In or Sign Up