block variables

doctype html
html
head
    meta(charset="utf-8")
    meta(name = "viewport" content="width=device-width , initial-scale=1 , shrink-to-fit=0")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(rel="stylesheet", href="/css/style.css")
    title #{title}


body
    div.login-form.my-5
        div.text SE CONNECTER
        form(action="/login" method="post")

            div.message 
                p #{message}

            div.field
                div.img 
                    img(src="/images/envelope.svg"  alt="email" height="20" width="30")
                input(type="text" placeholder="Email" name="email")

            div.field
                div.img 
                    img(src="/images/lock.svg" alt="email" height="20" width="30")
                input(type="password" placeholder="Password" name="password")
            
            div.input
                input(type="submit" value="Se Connecter")

            div.link Pas encore inscrit ?
                a(href="/register") &nbsp; S'inscrire


           
