<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>#{title}</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="app">
        <div class="description">
            <h1>#{title}</h1>
            <p>Entrer vos parametres de connexion pour acceder a l'application</p>
        </div>
        <div class="form-side">
            <form action="/login" method="post">
            <p style=color:red;>#{message}</p>
                <div>Login :</div>
                <input type="text" id="email" name="email" require placeholder="Enter votre login">
                <div>Mot de passe : </div>
                <input type="password" name="password" id="password" require placeholder="Enter votre mot de pass">
                <input type="submit" value="Connexion">

                <div id="">
                <p>Pas de compte ??? <a href="/register">Incrivez-vous</a></p>
                </div>
            </form>

        </div>
    </div>
    
</body>
</html>